<!doctype html>
<html>
    <h1><center>
        <img src="https://cultofthepartyparrot.com/parrots/hd/parrot.gif" width="30" height="30">
        NOUVEL UTILISATEUR
        <img src="https://cultofthepartyparrot.com/parrots/hd/rightparrot.gif" width="30" height="30">
    </center></h1>
    <h2><center>
        Remplis donc ton formulaire, bro !<br>
        Il te faudra indiquer un pseudonyme(username), un email, et une description(bio) !
    </center></h2>

    <form action="/users/create" method="POST">
      <div class="form-row">
        <div class="col-mr1 ml-3">
          <label>Username</label>
          <input type="string" class="form-control" name="username" placeholder="Your Username here">
        </div>
        <div class="col-ml-3">
          <label>Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email@example.com">
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col-mr1 ml-3">
        <label>Bio</label>
        <textarea class="form-control" name="bio" rows="3" placeholder="Ta bio ici"></textarea>
        </div>
      </div>
      <br>
      <button class="btn btn-primary -mr1 ml-3" type="submit" value="Valider">Confirmer</button>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    </form>

<!-- <p> Ici on a le <strong>form_tag</strong></p><br><br>

    <%= form_tag url_for(action: 'create'), class: "form-group", method: 'post' do %>

        <%= label_tag 'username' %>
        <%= text_field_tag 'username', nil, class: "form-control", placeholder: "Ton nom Maggle" %>
        <br /> <br />

        <%= label_tag 'email' %>
        <%= text_field_tag 'email', nil, class: "form-control", placeholder: 'toto@exemple.com'%>
        <br /> <br />

        <%= label_tag 'bio' %>
        <%= text_area_tag 'bio', nil, class: "form-control", placeholder: "Raconte ta vie ici" %>
        <br /> <br />

        <%= submit_tag "Validez votre inscription", class: "btn btn-primary"%>
<% end %> -->

<!-- <p>Et là un petit <strong>form_for</strong> des familles !</p>
<br>
    <%= form_for @user, :class => "form-group", url: {action: 'create'} do |f| %>
        Username : <%= f.text_field :username, :class => "form-control", placeholder: "ton nom Maggle" %><br />
        Email : <%= f.text_field :email, :class => "form-control", placeholder:"toto@exemple.com" %><br />
        Bio : <%= f.text_area :bio, :class => "form-control", placeholder:"Raconte ta life"%><br />
    <%= f.submit "Valide moi ça", :class => "btn btn-primary" %>
<% end %> -->

</html>
